*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: white;
    background-color: darkcyan;
}

h2{
    font-size: 2em
}
h1{
    font-size: 3em;
}
button{
    font-size: 2em;
    color: white;
    background-color: red;
}
button:hover{
    background-color: darkgoldenrod;
}