*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
 header{
   width: 100%;
   height: 10%;
}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: darkcyan;
    padding-left: 20px;
    color: white;
}
.SearchInput{
    height: 30px;
    width: 400px;
    padding-left: 10px;
    border-radius: 5%;
    border: 2px solid black;
}
.SearchBtn{
    height: 30px;
    width: 70px;
    border-radius: 10%;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    background-color: darkcyan;
    font-weight: 800;
}
.navupper{
    display: flex;
    width: 25%;
    justify-content: space-around;
}
.navinner{
    display: flex;
    gap: 10px;
}
main{
    padding-top: 70px;
    height: 80%;
}
.bodyCover1{
    display: flex;
    height: 23%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
h2{
    margin-left: 50px;
}
footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
}
@media screen and (max-width: 1000px){
    header{
        width: 100%;
        height: 25%;
     }
    nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
  
}