body{
    text-align: center;
    background-color: red;
}
li{
    display: flex;
    gap: 20px;
    justify-content: center;
    
}

.Bookmarkscontainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}