*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: darkcyan;
    color: white;
}
main, .JokeDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.NewJokeBtn{
    background-color: red;
    color: black;
    padding: 5px;
}
p{
    font-size: 2em;
}
h1{
    font-size: 3em;
}