*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    
}
label{
    display: inline-block;
    margin-bottom: 20px;
}
.NotesContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.NoteAdderOuter{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NoteAppContainer{
    display: flex;
    width: 100%;
    height: 95%;
}
.head{
    height: 5%;
    width: 100%;
    text-align: center;
}